<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xyz.xcye.securitytest.dao.UserMapper">
    <insert id="insertUser">
        insert into user(username,password,role) values (#{user.username},#{user.password},#{user.role})
    </insert>


    <select id="getUserByUsername" resultType="xyz.xcye.securitytest.entity.User">
        select * from user where username = #{username}
    </select>
</mapper>